<div class="background d-flex flex-column justify-content-center align-items-center container-fluid">
  <%= image_tag ("logo.png"), class: "logo" %>
  <%= link_to 'LOGIN', login_path, class: "reg-btn primary-color text-light py-2" %>
  <%= link_to 'SIGNUP', signup_path, class: "reg-btn py-2" %>
</div>
