
<%= render partial: 'form', :locals => { :title => 'EDIT TRANSACTION', :form_action => 'Save', :back_path => transaction_path(@transaction) } %>
<div>
  <button onclick="revealCategories()" class="mt-5 d-block mx-auto border border-success text-success px-3 py-2">Add more categories</button>
</div>

