<div class="pb-5">
  <%= render partial: 'transactions', :locals => { :active_link => 'Most recent', :active_link_path => external_transactions_path, :inactive_link => 'Most ancient', :inactive_link_path => sort_external_transactions_path } %>  

  <% if @transactions.any? %>
    <% @transactions.each do |transaction| %>
      <%= render partial: 'transaction_card', :locals => { :transaction => transaction } %>
    <% end %>
  <% end %>
</div>
<div class="mt-5"></div>