<div class="pb-5">
  <%= render partial: 'transactions', :locals => { :inactive_link => 'Most recent', :inactive_link_path => transactions_path, :active_link => 'Most ancient', :active_link_path => sort_transactions_path } %>

  <% if @transactions.size %>
  <% @transactions.each do |transaction| %>
    <%= render partial: 'transaction_card', :locals => { :transaction => transaction } %>
  <% end %>
<% end %>
</div>
<div class="mt-5"></div>